.news-info {
  background: #fff;
  margin: 20px;
}

/* 未访问的链接 */
a:link {
  color: 0099cc;
}

/* 已访问的链接 */
a:visited {
  color: #999999;
}

/* 鼠标悬停链接 */
a:hover {
  color: #ccff99;
}

/* 已选择的链接 */
a:active {
  color: #66cc66;
}

.ant-card-head-title {
  margin-left: -72px;
}
