.english-corner {
  background: #fff;
  margin: 20px;
}

/* 未访问的链接 */
.link:link {
  color: #0099cc;
}

/* 已访问的链接 */
.link:visited {
  color: #cccccc;
}

/* 鼠标悬停链接 */
.link:hover {
  color: #ff00ff;
}

/* 已选择的链接 */
.link:active {
  color: #ff6666;
}
